<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUsuarioServicio" />
                <binding name="BasicHttpBinding_IClienteServicio" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10930/UsuarioServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioServicio"
                contract="usuarioServicio.IUsuarioServicio" name="BasicHttpBinding_IUsuarioServicio" />
            <endpoint address="http://localhost:35734/Administracion/ClienteServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClienteServicio"
                contract="clienteServicio.IClienteServicio" name="BasicHttpBinding_IClienteServicio" />
        </client>
    </system.serviceModel>
</configuration>